*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

html { font-size: 62.5%; }

body {
  background-color: #eee;
}

.test-class {
  background-color: red;
}
